.contact-section {
    background: var(--color-secondary);
    color:white;
}

.contact-icon i{
    color: var(--color-main);
    height: 50px;
    width: 50px;
    line-height: 50px;
    background: white;
    font-size: 20px;
    margin-right: 20px;
    border-radius: 50%;
    transition: all 0.5s ease 0s;
}

.contact-box:hover .contact-icon i{
    color: white;
    background:var(--color-main)
}
.contact-text{
    height:50px;
    display: flex;
    align-items: center
}

.contact-text p{
    color: white;
    font-size: 20px;
    font-family: var(--family-Rajdhani);
    font-style: normal;
    line-height: 1.2;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 0;
}

.contact-form{
    background: white;
    padding:40px;
    border-radius:20px;
}

input.contact-input{
    height: 45px;
}

.contact-input{
    width: 100%;
    color: #888888;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    text-align: left;
    border: 1px solid #f1f1f1;
    padding-left: 25px;
}

.contact-form .button{
    display:block;
    width:100%;
    outline: none;
    border: none;
}